@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   body {
      @apply bg-[#192026] font-poppins;
   }
}

@layer utilities {
   .anime_title {
      @apply text-white text-lg text-center mt-1 capitalize;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
   }

   .anime_title_popular {
      @apply text-sm text-white text-center overflow-hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
   }
}
